<%- include("partials/header.ejs") %>

<html>
<body class="home">
  <div id='container'>
    <div class="hover-scroll"></div>
    <div class='scroll' id='scroll-one'>
      <% for (var loop = 0; loop <= 3; loop++) {%>
        <% stockData.forEach(stock => { %>
          <div class="item">
            <% if (stock.change < 0 ) { %>
              <div class="stock-symbol"><%= stock.symbol %></div>
              <div class="stock-price" style="color: #ff6f6f;"><i class="fa-solid fa-caret-down"></i>$<%= stock.price.toFixed(2) %></div>
            <% } else if (stock.change > 0) { %>
              <div class="stock-symbol"><%= stock.symbol %></div>
              <div class="stock-price" style="color: #7dff7d;"><i class="fa-solid fa-caret-up"></i>$<%= stock.price.toFixed(2) %></div>
            <% } else { %>
              <div class="stock-symbol"><%= stock.symbol %></div>
              <div class="stock-price" style="color: #c7c7c7b7;"><i class="fa-solid fa-minus"></i>$<%= stock.price.toFixed(2) %></div>
            <% } %>
          </div>
        <% }) %>
      <% } %>
    </div>
  </div>
  <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% firstThree.forEach((post, index) => { %>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>" aria-current="<%= index === 0 ? 'true' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
        <% }) %>
      </div>
      <div class="carousel-inner">
        <% firstThree.forEach((post, index) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <a href="/posts/<%= post.id %>" class="text-white text-decoration-none">
              <div class="carousel-caption d-block">
                <h4 class="carousel-title"><%= post.title.length >= 30 ? post.title.slice(0, 27) + "..." : post.title %></h5>
                <h5 class="carousel-body"><%= post.body.length > 100 ? post.body.slice(0, 100) + "..." : post.body %></p>
              </div>
            </a>
            <img src="data:<%= post.img_mime_type %>;base64,<%= post.img %>" class="d-block w-100" alt="...">
          </div>
        <% }) %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row my-4 heading">
      <div class="col">
        <h1 class="title">What's New</h1>
      </div>
      <div class="col text-end">
        <a class="view-all" href="/posts">
          <button class="btn btn-primary"><span>View All</span></button>
        </a>
      </div>
    </div>
    <div class="row whats-new">
      <% recentPosts.forEach((post) => { %>
        <div class="col-12 col-xl-6 mb-3">
          <a href="/posts/<%= post.id %>" class="text-decoration-none">
            <div class="card">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="data:<%= post.img_mime_type %>;base64,<%= post.img %>" class="img-fluid rounded-top" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= post.title.length >= 30 ? post.title.slice(0, 27) + "..." : post.title %></h5>
                    <p class="card-text"><%= post.body.length > 100 ? post.body.slice(0, 100) + "..." : post.body %></p>
                    <div class="mt-auto d-flex align-items-center">
                      <% if (post.profile_pic) { %>
                        <img src="data:<%= post.profile_pic_mime %>;base64,<%= post.profile_pic %>" alt="Profile Picture" class="rounded-circle" style="width: 30px; height: 30px; margin-right: 10px;">
                      <% } else { %>
                        <img src="/path/to/default/profile/pic.jpg" alt="Default Profile Picture" class="rounded-circle" style="width: 30px; height: 30px; margin-right: 10px;">
                      <% } %>
                      <p class="card-text mb-0"><%= post.username %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
  <%- include ("partials/footer.ejs") %>
  <%- include("partials/boot_script_cdn.ejs") %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/script/home.js"></script>
</body>
</html>
