<%- include("partials/header.ejs") %>

<html>
<body class="posts">
  <div class="container">
    <h1 class="title row">Posts</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <% allPages.forEach(post => { %>
        <div class="col">
          <a href="/posts/<%= post.id %>" class="text-decoration-none">
            <div class="card shadow-sm h-100">
              <% if(post.img) { %>
                <img class="card-image img-fluid rounded-top" src="<%= post.img %>" alt="...">
              <% } %>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-truncate"><%= post.title %></h5>
                <p class="card-text text-truncate"><%= post.body %></p>
                <div class="mt-auto">
                  <p class="card-text">
                    <small class="card-time text-body-secondary"><%= post.updatedAt %></small>
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
<%- include("partials/footer.ejs") %>
